<%-include("partials/header.ejs")%>
            <div class="heading-five"><h2>About Us</h2><p>Get to know who we actually are.</p></div>
            <section id="mission">
                <div class="mis-heading"><h2>Our Mission</h2>
            <p>At Food Delight, our mission is to bring joy to every meal.That's why we're committed to delivering not just meals, but experiences that delight our customers.</p>
        </div>
        </div>
        <div class="values">
            <h2>Goals for Which we strive</h2>
            <ul>
                <li><span class="sp-one">Authentic Flavors:</span> We celebrate the diversity of cuisines from around the world and strive to capture the authentic flavors of each dish.</li>
                <li><span class="sp-one">Health and Well-being:</span> We prioritize the health and well-being of our customers by offering nutritious and wholesome meal options.
                <li><span class="sp-one">Sustainability:</span> We are dedicated to sustainability and environmentally friendly practices, sourcing ingredients responsibly and minimizing waste.</li>
            </ul>
        </div>
        <div class="contact-footer">
            <h2>Contact Us</h2>
            <p>Have questions or feedback? Reach out to us!</p>
            <div class="btn-box-one">
                <a href="#" class="btn" style="text-decoration: none;font-size: 20px;" class="as">Contact Us</a>
            </div>
        </div>
        </section>
        <%-include("partials/footer.ejs")%>
