<%-include("partials/header.ejs")%>
<div class="container" style="height:50vh">
    <h1>You Have Successfully ordered from LOGO.</h1>
    <p>You will be redirected soon.</p>
</div>
<script>
    setTimeout(function(){
    window.location.href = '/';},5000);
</script>

<%-include("partials/footer.ejs")%>